html {
	font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
}

body {  /*------------VA Edited---------*/
    font-family:Calibri ;
   /* color: #555;
    background: #f0f0f0 top left repeat-y; */
    font-size: 12px;
    height: 100%;
    margin-bottom: -33px;
}


/*#topbar {
background: url(../img/blue-menu-bar.png) repeat-x top left;
height: 32px;
margin: 0px auto;
position: relative;
padding: 0;
}*/

 #done
{
    margin-left: 220px;
}

#close
{
    float: right;
}
    
    

/* Element Style */
h1, h2, h3, h4, h5, h6 {
	font-family: Calibri, Helvetica, sans-serif;
	font-weight: bold;
}

h1 { /*----------VA Edited--------------*/
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 3px #666;
    filter: Shadow(Color=#666666,Direction=180,Strength=3);
}


h2 { font-size: 26px; padding: 0 0 10px 0; }
h3 { font-size: 17px; padding: 0 0 10px 0; }
h4 { font-size: 16px; padding: 0 0 5px 0; }
h5 { font-size: 14px; padding: 0 0 5px 0; }
h6 { font-size: 12px; padding: 0 0 5px 0; }


a { color: #00539F; text-decoration: none; }
a:hover { color: rgb(255, 36, 36); }
a:active { color: #777; }
a:focus { outline: 1px; }
strong { font-weight: bold; color: #333; }
small { font-size: 0.85em; }
pre { font-family: monospace; }
p {
	padding: 5px 0 10px 0;
	line-height: 1.6em;
}

/* General */
.clear { clear: both; }




.adminfield { /*----------VA Edited--------------*/
    margin: 5px 0 5px 0;
    padding:5px 0 5px 0;
    width: 85%;
    overflow:hidden;
}
.msgfield{
    clear: both;
}

.align-left { float: left; }
.align-right { float: right; }

#widget_table {
width: 100%;
border-collapse: separate;
border-spacing: 0;
border:0;
}

#column_middle{}
#column_left{}
#column_right{}
#column_left, #column_middle, #column_right{float:left;width:100%;min-height: 400px;}
div.widget{
	margin: 0 5px;
background: white;
border: 1px solid #E8E8E8;
padding:0 5px;
}
hgroup{
    height: 68px;
}
div.widget_box{
    margin: 0;
background: #fff;
border: 1px solid #E8E8E8;
min-width: 160px;
line-height: 1.7em;
font-size: 14px;
padding-left: 15px;
margin-bottom: 10px;
}
div.widget_box_header{
     color:#00539F;
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    font-size:15px; 
    line-height:1.2em;
   /* padding:2px; 
    margin:10px 10px 0px 10px; */
	padding:0px 10px 0px 7px;
    border-bottom:2px solid #E8E8E8;
	background: #E0E0E0;
        font-weight: bold;
}
#navigate{
background: url(../img/blue-menu-bar.png) repeat-x top left;
height: 32px;
margin: 0px auto;
position: relative;
padding: 0;
}

#navigate li{
    float:left;
    margin:0px;padding:0px;list-style-type:none;display:inline;
}
#navigate li a{
    color: #fff;
display: block;
padding: 10px 10px 7px 10px;
white-space: nowrap;
font-family: Arial, Helvetica, Tahoma, sans-serif;
font-weight: bold;
text-transform: uppercase;
vertical-align: middle;
}
#navigate li a img { display:none;vertical-align: middle; }
#navigate li a:hover img { display:block;float: left; }


#settings_icon{
    height: 16px;
    width :16px;
}
#login-wrapper{
/*background-image: linear-gradient(bottom, rgb(9,205,219) 37%, rgb(14,184,240) 69%);
background-image: -o-linear-gradient(bottom, rgb(9,205,219) 37%, rgb(14,184,240) 69%);
background-image: -moz-linear-gradient(bottom, rgb(9,205,219) 37%, rgb(14,184,240) 69%);
background-image: -webkit-linear-gradient(bottom, rgb(9,205,219) 37%, rgb(14,184,240) 69%);
background-image: -ms-linear-gradient(bottom, rgb(9,205,219) 37%, rgb(14,184,240) 69%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.37, rgb(9,205,219)),
	color-stop(0.69, rgb(14,184,240))
);
*/

}

#login-holder {
/*width:300px;
text-align:center;*/
margin:50px auto;

min-height: 570px;
width: 960px;
background-image: url(../img/login_back_right.png);
}
#login-holder  header{
    margin: 0px;
    width: 300px;
    padding: 9px;        
border:1px solid #ccc;
box-shadow:4px 4px 10px #333333;
background: #444;
border-bottom: #B2CCD;
height:80px;
}
#login-holder header > hgroup h1{
    color:#fff;
}
a#my_userarea {
font-size: 14px;
position: relative;
display: block;
overflow: hidden;
color: #fff;
text-decoration: none;
border:1px solid #ccc;
box-shadow:4px 4px 10px #333333;
background: #444;
text-shadow: black 1px 1px;
padding:8px;
width: 50px;
}
/*#login-article{
  display: none;  
}*/

#login-holder form label {   /*-----VA Added---*/
border-bottom-width:0px;
width: 35%;
}
#loginform{
    width: 300px;
background: #ffffff;
padding:10px;
/*-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;*/
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
box-shadow:4px 4px 10px #333333;
}
form label {   /*-----VA Edit---*/
	padding: 5px 0 0px 5px;
	font-weight: bold;
        display: block;
        margin: 2px 0 10px 0;
        float: left;
        width: 50%;
        color: #444444;
        border-bottom-width:1px;
        border-bottom-style: dotted;
        border-color:grey;
}
#composeform label {
    width: 25%;
}

form fieldset legend {
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 10px;
}

form p small {
	font-size: 0.75em;
	color: #777;
}

form input[type='text'],input[type='password'], form select, form textarea {  /*------------VA Edited---------*/
	padding: 6px;
	font-size: 13px;
/*	background: #fff url('../img/bg-form-field.gif') top left repeat-x; */ 
	/* border: 1px solid #d5d5d5; */
	color: #333;


}

/* Table */
table {
    width: 100%;
    text-align: center;    
}

table th,td {
    padding: 5px; vertical-align: top;
}

/* Header */    /*------------VA Edited---------*/
header {
    height: 100px;
    color: #fff;
    margin: 0 auto;
 /*   background-color: #000;*/
background: url('../img/tail_row_header.jpg') repeat-x top left;
}

header>hgroup h1 {
    padding: 20px 20px 0;
}

/* Sidebar */
#sidebar {
	background-color: #222;
	width: 180px;
	height: 140%;
	position: fixed;
	left: 0;
	top: 0;
	color: #888;
	font-size: 11px;
}

#sidebar #sidebar-wrapper {
	margin: 10px 0 0 9px;
}

#sidebar #sidebar-title {
	margin: 40px 0 40px 15px;
}




.menu_list {
	width: 160px; margin-top: 100px;
}
.menu_head {
	padding: 10px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-size: 14px;
    background: #333;
    color: white;
   /* background: #eef4d3 center right no-repeat; */
}
.menu_sub {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-size: 12px;
  /*  background: #333; */
    color: white;
   /* background: #eef4d3 center right no-repeat; */
}
.menu_body {
	display:none;
       
}

.menu_head a{
   color:white;
}
.menu_sub a{
   color:white;
}
.menu_head a:hover{
   color:#AAA;
}
.menu_sub a:hover{
   color:#AAA;
}

.menu_body a{
  display:block;
  color:#AAA;
  background-color: #222;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  font-weight:bold;
  text-decoration:none;
  font-size: 12px;
}

.menu_sub a{
  display:block;
  color:#AAA;
  background-color: #222;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
  font-weight:bold;
  text-decoration:none;
  font-size: 12px;
}

.menu_body a:hover{
  color: white;
  text-decoration:none;
  }





/* Notifications */
.notification {
	position: relative;
/*	 margin: 0 0 15px 250px; */
	padding: 0;
	border: 1px solid;
	background-position: 10px 11px !important;
	background-repeat: no-repeat !important;
	font-size: 13px;

}
#login-article .notification{
    width:318px;
}

.notification div {
	display:block;
	font-style:normal;
	padding: 10px 10px 10px 36px;
	line-height: 1.5em;
}

.information {
    background-color: #dbe3ff;
    border-color: #a2b4ee;
    color: #585b66;
}

/* Body Content */
#admin-body-content {
    margin: 20px 10px 0px 210px;
}

/* Admin */
#admin-main-content {
    margin: 0 30px 0 10px;
    padding: 10px 0 0 0;
    min-height: 500px;
}

/* Employee */
.logout a /*, a:hover, a:link*/ {
    color: grey;
    float: right;
    margin-right: 20px;
}

.employee-name {
    float: right;
    margin-right: 20px;    
}

#employee-main-content {
    min-height: 400px;

}
.radios {
    float:left;
}

.radios label {
    padding: 0 0 0 0;
    display: inline;
    width: auto;
    float: none;
    font-weight:normal;
    margin: 3px 0px 3px 0px;
	border: none;
}

/* Footer */
footer {
	color:#fff;
	width: 100%;
	height: 20px;
	padding: 10px 0px 3px;
	background: url('../img/tail_row_header.jpg') repeat-x top left;
/*	position: absolute;*/
	bottom:0px;
}

/*p {
    margin-top:20px;
    margin-bottom:20px;
    line-height:100%;
}

body>header {
    background: #000;
    padding: 20px;
    height:85px;
    clear:both;
}
body>header hgroup h1 {
    text-decoration: none;
	width: 300px;
	height: 85px;
	background: url('../img/dcs.png') no-repeat;
}

body>footer {
    background:#000;
    padding:10px;
    height:10px;
    color:#fff;
    clear:both;
}
nav {
    height:25px;
    padding:10px;
    background: #000;
    color: #fff;
    font-weight: bold;
    clear:both;
}

nav ul {
    padding:0; margin:0;
    list-style: none;
}

nav ul li {
    display: block;
    float: left;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    background: #000;
    text-decoration: none;
    padding:5px;
    display:block;
    margin:0;
}

nav ul li a:hover {
    background: #666;
}
body>article {
    width:95%;
    padding:10px;
    float: left;
	background-color: #f9f9f9;
}
article>header {
    border-bottom: 1px #000 solid;
    padding:10px;
}
article>header h1 {
    color: #000;
    font-size: 2.0em;
	font-family: "Century Gothic";
}

article>footer {
    border: 1px #666 dashed;
    padding:10px;
}

section>header h1 {
    font-size: 1.5em;
    color: #666;
}
section>footer {
    font-style: italic;
}

section ul li {
	margin-left: 80px;
	padding: 5px;
	color: red;
}

figure {
    margin: 0 auto;
    padding:20px;
    width:500px;
    text-align:center;
    border:1px #ccc dashed;
    clear:both;
}
figcaption {
    display: block;
    clear:both;
    text-align: center;
    font-style: italic;
}
figure img {
    padding: 10px;
    margin: 0 auto;
}


body>aside {
    width:200px;
    padding:20px;
    float: left;
    background: #ccc;
    color: #000;
    font-size:0.8em;
}

aside>header h1 {
    font-size: 1.5em;
    color: #000;
}*/

.form-errors{   /*-------VA Added------*/
margin-left: 15px;
color: #ff0000;
}


.reporttable th {border-top:0;border-left: 0;border-right: 0;text-align: left;}

.reporttable td {border: 0; text-align: left; height: 20px;}


a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../img/calendar.png) no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}

.actionitems_report{
    border-spacing: 0px;
    border-collapse: collapse;
}
.actionitems_report th {
    text-align: center;
    font-weight: bold;
    padding: 2px;
    border: 2px solid #FFFFFF;
    background: #4a70aa;
    color: #FFFFFF;
}
.actionitems_report tbody tr.alt td {
    padding: 4px 2px;
    border: 2px solid #FFFFFF;
    background: #e3f0f7;
}
.actionitems_report tbody tr td {
    padding: 4px 2px;
    border: 2px solid #e3f0f7;
    background: #f7f7f7;
}
/* tables */
table.tablesorter {
	font-size: 12px;
	background-color: #fff;
	width: 100%;
	border: 1px solid #CDCDCD;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-image: url(../img/bg_null.png);
        border: solid 1px white;
}
table.tablesorter td {
	text-align: left;
        color: #4d4d4d;
	padding: 5px 10px 5px 15px;
        border: 1px solid #CDCDCD;
        border-top: 0px solid #CDCDCD;;
}
table.tablesorter .even {
	background-color: #E6EEEE;
}
table.tablesorter .odd {
	background-color: #fffff;
}
table.tablesorter .header {
	background-image: url(../img/bg.png);
        background-repeat: no-repeat;
        border-left: 1px solid white;
        border-right: 1px solid #CDCDCD;
        border-top: 1px solid white;
        padding-left: 30px;
        padding-top: 9px;
        height: auto;
        padding-bottom: 11px;
}
table.tablesorter .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}
div.pager img {
    vertical-align: middle;
}
.button, button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	behavior: url(PIE.htc);
	background:url(../img/bg.png) top right;
	border:1px solid #cdcdcd;
	display:inline-block;
	color:#4D4D4D;
	font-family: Arial, calibri, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
        margin-top: 10px;
        cursor: pointer;

}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
        color: #d54747;
}



        tr:first-child td {
            border-bottom:0;
            border-top:0;
        }
        tr:nth-child(2) td {
            border-top:0;
            border-bottom:0;
        }
        td:first-child {
            border-left:0;
        }
        td:last-child {
            border-right:0;
        }
        div#drag {
            width:120px;
            height:40px;
            padding:5px;
            margin:5px;
            display:inline-block;
            text-align:center;
            line-height: 40px;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size:18px;
            color:white;
            text-shadow:0 1px 0 grey;
            border:1px solid rgba(0,0,0,.1);
        }
        div#subjects ul li {
            display:inline-block;
        }
        li, ul {
            list-style-type: none;
        }
        
        #sortable1, #sortable2 { 
            list-style-type: none; 
            margin: 0; padding: 0 0 2.5em; 
            float: left; 
            margin-right: 10px; 
            height: 350px;
            width: 350px;
            overflow: auto;}
        
         #sortable1, #sortable2 { 
             
         }
         
        #sortable1 li, #sortable2 li { 
            margin: 5px 5px 5px 5px; 
            padding: 5px;
            font-size: 1.2em; 
            width: 300px;
        }
         #sortable1 li:hover, #sortable2 li:hover { 
             background: #ccc;
        }
  
        .ui-sortable{
            border:1px solid #ccc;
            
        }
        .ui-sortable lh{
            font-weight: bold;
            margin: 5px;
        }
        .ui-sortable .placeholder{
            border:1px dashed #ccc;
        }
         .div_loading{
            position: absolute;top: 30%;left: 30%;
         }
         .drag_me{
             float: right;
         }
         .drag_me:hover{
             cursor: move;
         }
     
         #my_settings{
            float: right;
            
         }
          #my_settings .uppermenuitem{
             margin-right: 5px;
            padding: 10px;
            /*background: #ccc;*/
            float: right;
         }
        .uppermenuitem ul li {
            display: block;
            position: relative;
            float: left;
        }
        .uppermenuitem ul {
            display: none;
            position: absolute;
            z-index: 100;
            right: 20px;
            margin-top: 1px;
        }
        .uppermenuitem ul li a {
            display: block;
            text-decoration: none;
            color: #ffffff;
            border-top: 1px solid #ffffff;
            padding: 5px 15px 5px 15px;
            background: #1e7c9a;
            margin-left: 1px;
            white-space: nowrap;
        }
        .uppermenuitem:hover {
        background: #3b3b3b;
        }
        .uppermenuitem ul li a:hover {
        background: #3b3b3b;
        }
        .uppermenuitem:hover ul {
            display: block;
            position: absolute;
        }
        .uppermenuitem:hover li {
            float: none;
            font-size: 11px;
        }
        .uppermenuitem:hover li a {
            background: #1e7c9a;
        }
        #employee-main-content form{
            background: #eee;
            padding: 20px;
        }
        .comment_block img{
            vertical-align: middle;
            padding: 2px;
            margin-right: 5px;
            border: 1px solid #ccc;
        }
        p.commentbox {
            position: relative;
            width: auto;
            height: auto;
            line-height: 20px;
            padding: 10px;
            font-size: 14px;
            text-align: left;
            color: rgb(113, 157, 171);
            background: #eee;
            border: 2px solid #ccc;
            border-radius: 5px;
            text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
            box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
            max-width: 250px;
            word-wrap: break-word;
        }

/*        p.commentbox:after {
            content: "";            
            position: relative;
            width: 2px;
            height: 2px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent #ccc transparent transparent;
            top: 10px;
            left: -20px;
        }*/

.coments_deleteme{
    float:right;
    width: 15px;
    height: 15px;
}
p.commentbox:hover .coments_deleteme{
    background:url(../img/deleteme.png) left top;
}
p.commentbox:hover .coments_deleteme:hover{
    background:url(../img/deleteme.png) left -32px;
    cursor: pointer;
}

/*timepicker css starts*/    
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/*timepicker css end*/    
.detailview{
    padding: 20px;
    margin: 10px;
    font-size: 14px;
}
.detailview .viewlabel{
    font-weight: bold;
    text-transform: capitalize;
}
.detailview .viewfield{
    font-style: italic;
}


/*Tooltip UI*/
div.column { float:left; padding:5px;border: 1px solid rgb(234, 236, 240);}

div.column:hover{border: 1px solid #CCC;}
/*For tooltip target element that has set class="tooltip" */
.tooltip {text-decoration: none; border-bottom:2px dotted #36c;color: #36c; outline: none; }

/*For tooltip box*/
div#mcTooltip 
{
    line-height:12px;
    border-width: 1px;   
    color:#333; 
    border-color:#BBBBBB;
    padding:5px;
    font-size: 12px;
    font-family: Verdana, Arial;
    border-radius:6px; /*Rounded corners. N/A for IE 8 and below.*/
    box-shadow: 0 1px 4px #AAAAAA; /*Drop shadow. N/A for IE 8 and below.*/
}
div#mcTooltip, div#mcTooltip div 
{
    background-color:#EAECF0;
}

/* For hyperlink within tooltip */
div#mcTooltip a { color:#36c; }

/*Close button. Only available when sticky or overlay has been set to true.*/
div#mcttCloseButton 
{
    width:14px;height:14px;position:absolute;background-image:url(closeBtn.gif);cursor:pointer; overflow:hidden;
    top:12px; right:12px; left:auto;
}            

/* Only applies when overlay has been set to true or 1.*/
div#mcOverlay 
{
    background-color: white;
    opacity:0.8; filter: alpha(opacity=80); 
    display:none;top:0;left:0;width:100%;height: 100%;overflow:visible;z-index:4; 
}

/*Only available when calling by tooltip.ajax(...). It will be a spinning image indicating a request is in progress.*/
div#tooltipAjaxSpin {margin:20px 50px; background:transparent url(loading.gif) no-repeat center center; width:50px; height:30px; font-size:0;}

/*The settings below should remain unchanged*/
div#mcTooltipWrapper {position:absolute;visibility:hidden;overflow:visible;z-index:9999999999;top:-2000px;}
div#mcTooltip {float:left;border-style:solid;position:relative;overflow:hidden;}
div#mcttCo {position:absolute;text-align:left;}
div#mcttCo em, div#mcttCo b {display:block; width:0; height:0;overflow:hidden;}

div#mcttCo a{display:none !important;font-size: 1px!important;visibility: hidden !important;width: 1px;}

/* Tooltip css ends */

/* popup form list starts*/
.droplist{cursor: pointer;}
.droplist:hover{color: #57a000;}
/* popup form list ends*/


.tabContaier{
      float:left;
      list-style:none;
      background:#ddd;
      border:1px solid #fcfcfc;
      font-weight: bold;
      display:block;
      line-height:35px;
      padding:0 30px;
      text-transform:uppercase;
 }
 .tabContaier:hover{
      background:#ccc;

 }
.div_img {
    text-align:center;
    float:left;
    padding:3px;
    border: 2px solid #ddd;
    margin: 2px;
    background: #eee;
}

